html body {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 2, 2, 0.945);
}

.photo_top {
  width: 100%;
  height: 100vh;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo_top_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_top,
.border_box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}
.box_top {
  width: 400px;
  height: 250px;
  background-color: white;
}

.border_box {
  width: 380px;
  height: 235px;
  background-color: #04a777;
}

.text_box {
  z-index: 1;
  width: 375px;
  height: 230px;
  background-color: white;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

nav {
  max-height: 50px;
  position: fixed;
  z-index: 10;
  display: flex;
}

#explore_menus {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: -6px -6px 12px rgb(142, 141, 141);
}

#explore_menus::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #04a777 0%, #06d194 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

#explore_menus:hover::before {
  width: 9em;
}

.offers {
  width: 100%;
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgb(10, 168, 41);
  background: linear-gradient(
    133deg,
    rgba(10, 168, 41, 1) 0%,
    rgba(9, 121, 43, 1) 35%,
    rgba(0, 227, 125, 1) 100%
  );
}

.offer_1,
.offer_2,
.offer_3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 40px;
}

.offer_image {
  display: flex;
  justify-content: center;
  align-items: end;
}

.offer_text {
  display: block;
  text-align: center;
}

.offers img {
  width: 50px;
  height: 50px;
}

#footer {
  width: 100%;
  height: 20em;
  background-color: #04a777;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  padding-bottom: 10px;
}

#foot1 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 0;
}
#logo {
  width: 100px;
  height: 100px;
}
.caption {
  display: block;
  padding: 0;
  font-style: normal;
  font-size: medium;
}

#foot2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.FooterIcons {
  padding-left: 20px;
  width: 70px;
  height: 70px;
}

#foot3 {
  display: inline-block;
  text-align: center;
  font-size: larger;
  font-weight: 500;
}
.local_about {
  padding-left: 20px;
}
.local_about a {
  text-decoration: none;
  color: black;
}

#foot4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
#foot4 a {
  text-decoration: none;
  color: black;
}
#copyrightLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
#Copyright {
  padding-left: 10px;
}
#Terms_Policy {
  position: absolute;
  bottom: 0;
  right: 0;
}
#Policy {
  padding-left: 20px;
  padding-right: 10px;
}
